body{
background-color:#f8edff;
font-family: Arial, Helvetica, sans-serif;

}
.lists{

    display: flex;
    gap: 80 px;    
}
table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 1px solid #ce9191;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #cc5f5f;
}

.list{

    background-color:  #b2a8a8  ;
}
ol{
    list-style: upper-roman;
    color: rgb(89, 118, 112);
}
ul{
    list-style: square;
    color: rgb(82, 139, 69);

}
a{ 
    color:rgb(74, 7, 7);
    font-family: 'Times New Roman', Times, serif;
    
    text-shadow: #ac8a8a 12px;
    text-decoration: none;
    cursor: hover;
}
